:root{
    --u-primary-color: #0EA5E9;
    --t-primary-color: #6366F1;
    --a-primary-color: #BE123C;
    --bckg-color: #d1d1d1;
}


body{
    background-color: var(--bckg-color);
    font-family: sans-serif;
}

h1{
    text-align: center;
}

.menu{
    text-align: center;

}

input{
    padding: 5px;
    border-radius: 25% 10%;
}

#user-btn{
    background-color: var(--u-primary-color);
}

#tech-btn{
    background-color: var(--t-primary-color);
}

#admin-btn{
    background-color: var(--a-primary-color);
}

footer{
    text-align: center;
}